

.footerSection{
    background-color:  #fff;
    height: 340px;
    padding-top: 50px;
}

.footerBrand{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.footerHeading{
    font-size: 28px;
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: #222222;
}

.emailInpFooter{
    border-radius: 5px;
    border: 0px;
    background-color: #efefef;
    min-width: 200px;
    width: auto;
    height:40px;  
    padding: 0 10px;
    margin-right: 5px;  
}

.emailInpFooter:focus{
    outline: none;
}

.emailSubmitFooter{
    background-color: #F0A04B;;
    color: #000;
    border: 0px;
    border-radius: 5px;
    width: 150px;
    height:40px;
}

.emailSubmitFooter:hover{
    background-color: #f5b26a;
    color: #000;
}




@media only screen and (max-width: 600px) {

    .footerSection{
        height: auto;
    }

    .footerHeading{
        margin-top: 25px;
    }

    .emailInpFooter{
        width: 100%;
    }

    .emailSubmitFooter{
        width: 100%;
        font-weight: 600;
        padding: 0 5px;
    }

}