@tailwind base;
@tailwind components;

.btn {
  @apply bg-brand-primary hover:bg-green-600 text-brand-secondary px-10 py-4 rounded-md font-normal;
}

@tailwind utilities;

body {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1140px;
}

/* Media queries for responsiveness */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.logo {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #1a5d1a;
}
