

.heroSection{
    height: 500px;
    color: #000;
    background: rgb(6,0,107);
    background: linear-gradient(270deg, rgba(6,0,107,1) 0%, rgba(144,167,255,1) 55%, rgba(239,243,255,1) 88%);
}


.heroTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 55px;
    font-weight: 600;
}

.heroImg{
    margin-top: 80px;
    height: 350px;
    width: auto;
}

.emailInp{
    height: 40px;
    width: 250px;
    border: 0px solid;
    padding: 0 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.emailInp:focus{
    outline: none;
}

.emailSubmit{
    height: 40px;
    border-radius: 5px;
    border: 0px;
    background-color: #F0A04B;;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 20px;
}

.emailSubmit:hover{
    background-color: #f5b26a;
    color: #000;
}



.mainSection{
    padding: 100px 0;
    height: auto;
    min-height: 600px;
}







@media only screen and (max-width: 600px) {

    .heroSection{
        height: auto;
        padding: 100px 0;
    }

    .heroImg{
        display: none;
    }

    .emailInp{
        width: 100%;
    }

    .emailSubmit{
        width: 100%;
        font-weight: 600;
        padding: 0 5px;
    }


    .mainSection{
        padding: 50px 0;
        height: auto;
    }

}
