


.heroSection{
    text-align: center;
}

.heroTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 47px;
    font-weight: 600;
    margin-bottom: 30px;
}

.heroSubHeading{
    font-size: 19px;
    width: 70%;
    margin: auto;
}


.emailInp{
    height: 40px;
    width: 500px;
    border: 0px solid;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #efefef;
}

.emailSubmit{
    height: 40px;
    width: 500px;
    border-radius: 5px;
    border: 0px;
    background-color: #F0A04B;
    color: #222222;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 20px;
}

.emailSubmit:hover{
    background-color: #f0b575;
    color: #000;
}


@media only screen and (max-width: 600px) {

    .heroSection{
        text-align: left;
    }

    .heroTitle{
        font-size: 30px;
    }
    
    .heroSubHeading{
        font-size: 17px;
        width: 100%;
        margin-top: 17px;
    }
    
   
    .emailInp{
        width: 100%;
    }

    .emailSubmit{
        width: 100%;
        font-weight: 600;
        padding: 0 5px;
    }
}