
.enrollBtn{
    background-color: #1f2d89;
    color: #fafafa;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 5px;
    border: 0px;
    width: 100%;
}

.enrollBtn:hover{
    background-color: #fff880;
    color: #000;
}


.contentDiv{
    margin:  50px 0;
}


.TestimonialSection{
    margin: 100px 0;
}


