@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Plus+Jakarta+Sans&family=Public+Sans&display=swap');

#logo{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p, li, a{
    font-family: 'Public Sans', sans-serif;
}




.pageLayout{
    height: auto;
    min-height: 75vh;
    padding: 60px 10px;
}

.subHeading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
